################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WoodPecker/FileContentIndex
/.vs/WoodPecker/v17
